@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center border-bottom ">
    <h5 class=" font-bold m-2">Rugby Player Management System</h5>
    <h6>See list of all players <a href="/Players">Players List</a>.</h6>
    <h6>See list of all teams <a href="/Teams">Team List</a>.</h6>
    <h6>Add Player <a href="/Players/Create">Add Player </a>.</h6>
    <h6>Add Team <a href="/Teams/Create">Add Team</a>.</h6>

</div>
